body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p {
  font-weight: normal;
  margin: 0 0 1rem;
}

p {
  line-height: 1.5em;
}

li {
  margin-bottom: .25rem;
}

.header-image {
  width: 100%;
}

.section {
  margin: auto;
  max-width: 1280px;
}

.section-inner {
  padding: 1rem;
}

.section-inner.example {
  border: 1px solid #eee;
  margin-bottom: 1rem;
}

.section-inner.example iframe {
  border: none;
  width: 100%;
}

.example-clocks {
  height: 200px;
}

.example-calendars {
  height: 400px;
}
